

body, ul {
  margin: 0;
  padding: 0; 
}
ul { list-style: none; }
header {
  display: flex;
  align-items: center;   
  justify-content: space-between;
  padding: 25px 15px;
  background-image:url("resources/passs.jpg");
 background-size:9cm;
}
   
#welcome{
 width: 300px;      
  margin: 100px auto;
  color: #431ee9; 
   
}
#form{
width: 300px;      
  margin: 100px auto;
    padding: 10px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
form input{
    padding: 5px;
    
    height: 20px;
}
a:visited{
    color:#431ee9
}
a:hover{
color: rgb(78, 191, 191);
}

footer{
background-image:url("resources/passs.jpg");
  background-size:9cm;
  color: white;
  padding: 25px 15px;
  margin-top: auto; 
}




