body, ul {
  margin: 0;
  padding: 0; 
}
ul { list-style: none; }
header {
  display: flex;
  align-items: center;   
  justify-content: space-between; 
  padding: 25px 15px;
  background-image:url("resources/passs.jpg");
 background-size:9cm;
}
  
body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

#logo,  nav {
  position: relative;
  z-index: 1; 
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
 display: flex;
  flex: 1; 
  flex-direction: row;  
}
aside {
  width: 200px;
  background:#f3f3f3;
  padding:20px;
}
aside nav ul li a{
  display: block;
    padding:10px 0;
  font-size:16px;
  cursor:pointer;

}
hr.verticalline {
  width:3px;
  border: none;
  margin: 0;
  height: 100%;
  align-self: stretch;
  background:#ccc;
}

section {
  flex:1;
  padding:20px;
  margin-left: 20px;
}

section h2 {
  margin-bottom:15px;
  border-bottom: 2px solid #431ee9;
  padding-bottom: 10px;
  display: inline-block;
}

ul.check-list {
  margin-top:15px;
  font-size:17px;
}

li.check-item {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 0;
  border-bottom:1px solid #eee;
}
li.check-item:hover {
  border-right: 3px solid #431ee9;
  padding-right: 10px;
}
.good::before {
  content:"✔ ";
  color:green;
}
.bad::before {
  content:"⚠ ";
  color:red;
}
.medium::before {
  content:"↻ ";
  color:orange;
}
li.check-item p:last-child {
  background: #f5f5f5;
  padding: 5px 12px;
  border-radius: 15px;
  font-weight: bold;
  border: 1px solid #431ee9;
}
 aside ul li a.active {
  color: #401ee9;
  font-weight: bold;
  border-right: 3px solid #2e2ee8;
  padding-right: 10px;
}
footer{
background-image:url("resources/passs.jpg");
  background-size:9cm;
  color: white;
  padding: 25px 15px;
  margin-top: auto; 
}



a:visited{
    color:#431ee9
}

a:hover{
     color: rgb(78, 191, 191);
}






