body, ul {
  margin: 0;
  padding: 0; 
}
ul { list-style: none; }
header {
  display: flex;
  align-items: center;   
  justify-content: space-between;
  padding: 25px 15px;
  background-image:url("resources/passs.jpg");
 background-size:9cm;
}
#Creat{
 width: 300px;      
  margin: 100px auto;
  color: #431ee9; 
  text-align: center; 
   
}
#form{
width: 300px;      
  margin: 50px auto;
  margin-top: 0px;
  display: flex;
  padding: 3px; 
  flex-direction: column; 
  gap: 15px;  
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
fieldset {
  border: none; 
  padding: 0;
  margin: 0;
}
.row{
  display: flex;  
  gap: 20px;  
}
.f{
display: flex;  
 flex-direction: column;
 flex: 1; 
}
.field input {
  padding: 8px 12px;
  width: 100%; 
}

#Email input{
padding:5px ;
height: 15px;
}
footer{
background-image:url("resources/passs.jpg");
  background-size:9cm;
  color: white;
  padding: 25px 15px;
  margin-top: auto; 
}

button{
    background-color: #431ee9;
    color: #ccc;
}
a:visited{
    color:#431ee9
}
a:hover{
color: rgb(78, 191, 191);
}
